<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anthouse.wyzhuoyue">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 权限级别: dangerous -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 权限级别: normal -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />


    <permission
        android:name="com.anthouse.wyzhuoyue.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.anthouse.wyzhuoyue.permission.C2D_MESSAGE" />

    <application
        android:name="com.aliyun.ayland.global.ATGlobalApplication"
        android:allowBackup="false"
        android:icon="@drawable/logo1"
        android:label="@string/at_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label,android:allowBackup,android:theme,android:icon">

<!--        <meta-data-->
<!--            android:name="com.alibaba.app.appkey"-->
<!--            android:value="28065618" />-->
<!--        <meta-data-->
<!--            android:name="com.alibaba.app.appsecret"-->
<!--            android:value="74212b99db16815336cc0d927f137895" />-->

        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="32480181" />
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="40c284ad111c21f5dd01c3613757902e" />

        <!--<meta-data-->
            <!--android:name="com.alibaba.app.appkey"-->
            <!--android:value="30209325" />-->
        <!--<meta-data-->
            <!--android:name="com.alibaba.app.appsecret"-->
            <!--android:value="a261f42e2691b3337bce29defca9e381" />-->

        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3ecea51f560650b1ed8a4b99808f52e8" />

        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />

        <!--适配全面屏-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name="com.aliyun.ayland.ui.activity.ATWelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.aliyun.ayland.ui.activity.ATMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.aliyun.wuye.ui.activity.ATMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.aliyun.wuye.ui.activity.ATShareSpaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.wuye.ui.activity.ATShareGardenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.wuye.ui.activity.ATVisitorRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.wuye.ui.activity.ATVisiteAppointActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.wuye.ui.activity.ATVisitorAppointResultActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.aliyun.ayland.ui.activity.ATDiscoveryDeviceActivity" />
        <activity android:name="com.aliyun.ayland.ui.activity.ATDiscoveryDeviceSearchActivity" />
        <activity android:name="com.aliyun.ayland.ui.activity.ATProductListActivity" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATEmptyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATDeviceBindActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.widget.zxing.android.ATCaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATManageRoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATEditRoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATRoomPicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATLinkageAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATLinkageRecommendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATLinkageEquipmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATLinkageAddConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATLinkageTimingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATLinkageTimingRepeatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATLinkageDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATLinkageStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATLinkageStatusChoiseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATLinkageStatusToActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATLinkageSendAppMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATLinkageNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATLinkageIconActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATLinkagePerformSceneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATLinkageAccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATLinkageCarAccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATLinkageAccessBizTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATEquipmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATLinkageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATLinkageLogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATLivePlayerActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATLocalVideoActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATIntelligentMonitorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true" />
        <!-- 通话中转界面只是为了解决硬件加速问题 -->
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATCallActivityTransferActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <!--<activity-->
        <!--android:name="com.aliyun.ayland.ui.activity.ATVideoCallActivity"-->
        <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--android:hardwareAccelerated="true"-->
        <!--android:launchMode="singleTask"-->
        <!--android:supportsPictureInPicture="true"-->
        <!--android:screenOrientation="portrait" />-->
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATVideoCallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATHomeShortcutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATHomeApplicationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATVisiteAppointActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATVisiteRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATVisitorRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATVisitorAppointResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATVisiteAppointResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATShareSpaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATShareGardenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATUserFaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATSpaceSubscribeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATWarningNoticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATUserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATUserNickActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATVehicleCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATVehicleCheckDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATCameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATMyCarAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATMyCarDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATCalendarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATAccessRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATTianMaoWebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATUserCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATDeviceManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATDeviceManageToActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATDeviceManageMineToActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATDeviceManageSharedToActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATSoundAuthorizationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATAboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATChangeHouseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATPhotoViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATFamilySecurityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATFamilySecurityActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATAlarmRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATEnvironmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATRecommendSceneDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATMessageCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATFamilyManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATFamilyManageRegistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATFamilyManageRegistPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATFamilyManageRegistIdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATFamilyManageAdviceActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATFamilyManageMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATFamilyManageTransferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATFamilyMonitorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATSensorSecurityActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.aliyun.ayland.ui.activity.ATOldYoungCareFindLocationDetailsActivity"/>
        <activity android:name="com.aliyun.ayland.ui.activity.ATOldYoungCareFindLocationActivity" />
<!--        <activity android:name="com.aliyun.ayland.ui.activity.ATOldYoungCareRecordActivity" />-->
<!--        <activity android:name="com.aliyun.ayland.ui.activity.ATPublicSecurityMainActivity" />-->
        <activity android:name="com.aliyun.ayland.ui.activity.ATCareFunctionSetActivity" />
<!--        <activity android:name="com.aliyun.ayland.ui.activity.ATOldYoungCareActivity" />-->

        <activity
            android:name="com.aliyun.ayland.ui.activity.ATSmartLockSecurityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATVisualIntercomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATMonitorCallingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATWisdomPublicAreaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATVehiclePassageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATCarApplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATWisdomSecurityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATWisdomSecurityLiveAloneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATWisdomSecurityOutAbnormalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATWisdomSecurityOutAloneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATWisdomSecurityOutAbnormalTimingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aliyun.ayland.ui.activity.ATWisdomSecurityOutAbnormalTimingRepeatActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name="com.aliyun.ayland.core.ATMyMessageReceiver"
            android:exported="false"> <!-- 为保证receiver安全，建议设置不可导出，如需对其他应用开放可通过android：permission进行限制 -->
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>

        <service android:name="com.aliyun.ayland.service.ATRecordService"/>

        <service
            android:name="com.taobao.accs.internal.AccsJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":channel" />

        <!-- 活体图像采集界面 -->
        <activity
            android:name="com.aliyun.ayland.widget.face.ATFaceLivenessExpActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 人脸跟踪采集界面 -->
        <activity
            android:name="com.aliyun.ayland.widget.face.ATFaceDetectExpActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_NoTitle" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.anthouse.wyzhuoyue.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <receiver
            android:name="com.aliyun.ayland.service.ATKeepAliveReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.aliyun.ayland.service.ATSocketServer"
            android:exported="true" />
        <service android:name="com.aliyun.ayland.service.ATSocketServer$InnerService" />

        <service android:name="com.evideo.voip.sdk.EVVoipService"/>
    </application>
</manifest>